/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/*
    9. Create a root stacking context
  */
#root,
#__next {
    isolation: isolate;
}


:root {
    --montserrat: 'Montserrat', sans-serif;
    --fraunces: 'Fraunces', serif;

    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
    --feaured-image: src="images/image-product-mobile.jpg";

}

body {
    background-color: var(--Cream);
    border-radius: 12px;
    font-size: 14px;
    display: grid;
    place-content: center;
    margin: 1rem;
}

.heading {
    font-family: var(--fraunces);
    color: var(--Very-dark-blue);
    font-size: 2.5em;
}

.subHeading {
    font-family: var(--montserrat);
    color: var(--Dark-grayish-blue);
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 5px;
}

p {
    font-family: var(--montserrat);
    color: var(--Dark-grayish-blue);
    line-height: 1.8;
    font-size: 1em;
}

.btn {
    background-color: var(--Dark-cyan);
    font-family: var(--montserrat);
    color: var(--White);
    border-radius: 8px;
    padding: 15px;
    border: none;
    font-size: 1em;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    gap: 1em;
    align-items: center;
}


.btn img {
    width: 1.2em;
    height: 1.2em;
}

.btn a {
    text-decoration: none;
    color: var(--White);
    font-family: var(--White);
    font-weight: 900;
    font-size: 1.2em;
}

.btn:hover {
    background-color: var(--Very-dark-blue);
    color: var(--White);
    border-radius: 8px;
    padding: 15px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.primaryPrice {
    font-family: var(--fraunces);
    color: var(--Dark-cyan);
    font-size: 2.5em;
}

.price {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 1.2em 0;
}

.secondaryPrice {
    font-family: var(--montserrat);
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: 1em;
}

.cardsContainer {
    display: flex;
    gap: 0.5em;
    align-items: center;
    max-width: 1440px;
    margin: 5em auto;

}


.card {
    --content-padding: 3em;
    --content-spacing: 1em;

    background-color: var(--White);
    display: grid;
    overflow: hidden;
    align-items: center;
    border-radius: 12px;
    max-width: 690px;

}

.content {
    display: grid;
    padding: var(--content-padding);
    gap: var(--content-spacing);
}

.attribution {
    max-width: 1440px;
    margin: 2em auto;
    text-align: center;

}

@media (min-width:680px) {
    .card {
        grid-template-columns: 1fr 1fr;
    }
}